html {
    background-color: white;
}
body {
    margin: 0;
}
.container {
    background-color: black;
    width: 768px;
    margin:  0 auto;
    display: block;
    color: white;
    text-transform: uppercase;
}
nav {
    position: fixed !important;
    display: block !important;
    z-index: 3;
    overflow: auto;
    height: 100%;
    width: 250px;
    background-color: white;
    padding-top: 32px !important;
    padding-bottom: 32px !important;
}
.bar-item {
    width: 100%;
    display: block;
    padding: 8px 16px;
    text-align: left;
    border: none;
    white-space: normal;
    float: none;
    outline: 0;
}
.button {
    overflow: hidden;
    text-decoration: none;
    color: #757575;
    cursor: pointer;
    font-size: 18px;
    user-select: none;
    font-weight: bold;
}
.selected {
    color: #000;
    background-color: #f1f1f1;
}
.button:hover {
    color: #000;
    background-color:#9e9e9e;
}
.selected:hover {
    color: #000;
    background-color:#9e9e9e;
}
#name {
    width: 320px;
    height: 128px;
    font-size: 32px;
    text-align: center;
}
.line {
    display: -webkit-box;
    display: flex;
    font-size: 0px;
    align-items: center;
    min-height: 64px;
}
.line-wrap {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    font-size: 0px;
    align-items: center;
    min-height: 64px;
}
.centered {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.small {
    width: 64px;
    height: 64px;
}
.medium {
    width: 128px;
    height: 128px;
}
.medium-row {
    width: 128px;
    height: 64px;
}
.medium-col {
    width: 64px;
    height: 128px;
}
.large {
    width: 256px;
    height: 256px;
}
.text {
    font-size: 28px;
}
.list {
    list-style: none;
    padding: 0 0 0 8px;
    margin: 0px;
    font-size: 21px;
}
.tips {
    list-style: url('../img/misc-small.png');
    padding: 6px 8px 4px 30px;
    margin: 0px;
    font-size: 20px;
}
.placeholder {    
    content:url(http://placehold.it/128x128);
}